DEBUG = True
SECRET_KEY = ''

REDIS_DB = 0
REDIS_PORT = 6379
REDIS_HOST = 'localhost'

# Change this to real domain
SERVER_HOST = "http://127.0.0.1:5000"

# You MUST generate a unique GUID for the relay user. This MUST be 32 chars long.
#RELAY_GUID = ""

# Here you can set a list of hosts which will always get forwarded to
# For example, for testing
ALWAYS_FORWARD_TO_HOSTS = []

# Uncomment the line below to disable RQ dashboard
#RQ_DASHBOARD = False
