{% extends "layout.html" %}

{% block body %}
    <div class="content" content="subscribers">
        <h1 class="page-header">Activity</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Incoming received</h4>
                <span class="text-muted">24h: {{ incoming_counts.today }}</span><br>
                <span class="text-muted">7 days: {{ incoming_counts.week }}</span><br>
                <span class="text-muted">30 days: {{ incoming_counts.month }}</span><br>
                <span class="text-muted">All time: {{ incoming_counts.all_time }}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Outgoing sent</h4>
                <span class="text-muted">24h: {{ outgoing_counts.today }}</span><br>
                <span class="text-muted">7 days: {{ outgoing_counts.week }}</span><br>
                <span class="text-muted">30 days: {{ outgoing_counts.month }}</span><br>
                <span class="text-muted">All time: {{ outgoing_counts.all_time }}</span>
            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
                <h4>Distinct hosts delivered to</h4>
                <span class="text-muted">All: {{ distinct_nodes.all }}</span><br>
                <span class="text-muted">HTTPS: {{ distinct_nodes.https }}</span>
            </div>
        </div>

        <h1 class="page-header">Subscriber statistics</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Compatible pods</h4>
                <span class="text-muted">{{ subscriber_stats.total }}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Subscribing pods</h4>
                <span class="text-muted">Total: {{ subscriber_stats.subscribers.total }}</span><br>
                <span class="text-muted">All: {{ subscriber_stats.subscribers.all }}</span><br>
                <span class="text-muted">Tags: {{ subscriber_stats.subscribers.tags }}</span>
            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
                <h4>Distinct tags</h4>
                <a id="show-tags-link" href="#">Show tags</a>
                <span id="tags-container" class="text-muted hidden">{{ subscriber_stats.tags|join(', ') }}</span>
            </div>
        </div>

        <h1 class="page-header">Workers and queues</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Workers running</h4>
                <span class="text-muted">{{ processing.workers }}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Jobs in receive queue</h4>
                <span class="text-muted">{{ processing.queue_jobs }}</span>
            </div>
        </div>
    </div>
    <div class="content" content="about" style="display: none;">
        <h1 class="page-header">About</h1>

        <div class="row">
            <div class="col-md-10">
                <p>
                    The Social Relay is an application to relay public posts between nodes using the Diaspora social federation protocol.
                </p>
                <p>
                    See more <a href="https://github.com/jaywink/social-relay/blob/master/docs/relays.md">here</a>.
                </p>
                <p>
                    Code under AGPLv3 in <a href="https://github.com/jaywink/social-relay">GitHub</a>. Version <a href="https://github.com/jaywink/social-relay/releases">v{{ config.get("VERSION") }}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
