# Flask
Flask==0.12
Flask-Bower==1.2.1

# redis backend
hiredis==0.2.0
redis==2.10.5

# federation
federation==0.9.1

# generic
requests==2.10.0
schedule==0.3.2

# background jobs
rq==0.5.6
rq-dashboard==0.3.4

# pod preferences
jsonschema==2.5.1

# Database
peewee==2.8.5
# Database migrations
arnold==0.4.1
