<VirtualHost *:80>
    ServerName {{ socialrelay_hostname }}
    ServerAlias www.{{ socialrelay_hostname }}

{% if socialrelay_https %}
    RedirectPermanent / https://{{ socialrelay_hostname }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ socialrelay_hostname }}
    ServerAlias www.{{ socialrelay_hostname }}
{% endif %}
    ServerAdmin webmaster@{{ socialrelay_hostname }}

    Alias /robots.txt {{ socialrelay_web_root }}/robots.txt
    Alias /favicon.ico {{ socialrelay_web_root }}/favicon.ico
    Alias /static {{ socialrelay_web_root }}

    <Directory {{ socialrelay_web_root }}>
        Require all granted
        Options -MultiViews -Indexes
    </Directory>

    ProxyPass /static !
    ProxyPass / uwsgi://127.0.0.1:3039/

{% if socialrelay_https %}
    SSLEngine on
    {% if socialrelay_letsencrypt %}
        SSLCertificateFile /etc/letsencrypt/live/{{ socialrelay_hostname }}/cert.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/{{ socialrelay_hostname }}/privkey.pem
        SSLCertificateChainFile /etc/letsencrypt/live/{{ socialrelay_hostname }}/chain.pem
    {% else %}
        SSLCertificateFile /etc/ssl/certs/{{ socialrelay_hostname }}.crt
        SSLCertificateKeyFile /etc/ssl/private/{{ socialrelay_hostname }}.key
        SSLCertificateChainFile /etc/ssl/certs/{{ socialrelay_hostname }}.chain.pem
    {% endif %}
{% endif %}
</VirtualHost>
