DEBUG = False
SECRET_KEY = '{{ socialrelay_secret_key }}'

REDIS_DB = {{ socialrelay_redis_db }}
REDIS_PORT = {{ socialrelay_redis_port }}
REDIS_HOST = '{{ socialrelay_redis_host }}'

# Change this to real domain
SERVER_HOST = "https://{{ socialrelay_hostname }}"

# You MUST generate a unique GUID for the relay user. This MUST be 32 chars long.
RELAY_GUID = "{{ socialrelay_relay_guid }}"

ALWAYS_FORWARD_TO_HOSTS = []

LOG_TO_CONSOLE = True

# Uncomment the line below to disable RQ dashboard
{% if socialrelay_rq_admin_username %}
RQ_DASHBOARD = True
{% else %}
RQ_DASHBOARD = False
{% endif %}

# You *must* set these.
RQ_DASHBOARD_USERNAME = "{{ socialrelay_rq_admin_username }}"
RQ_DASHBOARD_PASSWORD = "{{ socialrelay_rq_admin_password }}"

DATABASE_TYPE = 'postgresql'
DATABASE_NAME = "{{ socialrelay_database_name }}"
DATABASE_USER = "{{ socialrelay_database_user }}"
DATABASE_PASSWORD = "{{ socialrelay_database_password }}"
DATABASE_HOST = "{{ socialrelay_database_host }}"
