description "socialrelay web"
setuid socialrelay
setgid socialrelay
start on runlevel [2345]
stop on runlevel [06]

respawn

env PYTHONPATH="/home/socialrelay/socialrelay"

chdir /home/socialrelay/socialrelay
exec /home/socialrelay/venv/bin/uwsgi --die-on-term /home/socialrelay/socialrelay.ini
