[Unit]
Description=social-relay rqworker (%i)
PartOf=social-relay.target

[Service]
User=socialrelay
Group=socialrelay
WorkingDirectory=/path/to/social-relay
ExecStart=/bin/bash -lc "true; source venv/bin/activate; rqworker %i"
KillMode=process
Restart=always

[Install]
WantedBy=social-relay.target
